<div class="row mt-5 animated fadeInUp" id="home">
  <div class="card text-center p-2 col-4 border-0">
    <a [routerLink]="['/clientes']" >
      <i class="fas fa-user-alt fa-6x"></i>
    </a>
      <div class="card-body">
        <p class="card-text">Clientes</p>
      </div>
  </div>

  <div class="card text-center p-2 col-4 border-0">
    <a [routerLink]="['/cuentas']">
      <i class="far fa-list-alt fa-6x"></i>
    </a>
      <div class="card-body">
        <p class="card-text">Cuentas</p>
      </div>
  </div>

  <div class="card text-center p-2 col-4 border-0">
    <a [routerLink]="['/movimientos']">
      <i class="fas fa-sync-alt fa-6x"></i>
    </a>
      <div class="card-body">
        <p class="card-text">Movimientos</p>
      </div>
  </div>

</div>
